In [1]:
# Import Libraries
import pandas as pd

In [3]:
import xml.etree.ElementTree as ET
import json

# Parse the TCX file
tree = ET.parse('/Users/daviddiaz/Desktop/Main/Heart-Rate-Monitoring-Forecast/MapMyRunData/exercises/5.00mi Run (3).tcx')  # Replace with the actual file path
root = tree.getroot()

# Define the namespaces used in the TCX file (necessary to access elements)
namespaces = {
    'ns': 'http://www.garmin.com/xmlschemas/TrainingCenterDatabase/v2'
}

# Initialize a list to store the extracted trackpoint data
trackpoints_data = []

# Iterate over the trackpoints in the XML
for trackpoint in root.findall('.//ns:Activities/ns:Activity/ns:Lap/ns:Track/ns:Trackpoint', namespaces):
    trackpoint_info = {}
    
    # Extract relevant information from each trackpoint
    trackpoint_info['time'] = trackpoint.find('ns:Time', namespaces).text
    trackpoint_info['heart_rate'] = trackpoint.find('.//ns:HeartRateBpm/ns:Value', namespaces).text if trackpoint.find('.//ns:HeartRateBpm/ns:Value', namespaces) is not None else None
    trackpoint_info['latitude'] = trackpoint.find('.//ns:Position/ns:LatitudeDegrees', namespaces).text if trackpoint.find('.//ns:Position/ns:LatitudeDegrees', namespaces) is not None else None
    trackpoint_info['longitude'] = trackpoint.find('.//ns:Position/ns:LongitudeDegrees', namespaces).text if trackpoint.find('.//ns:Position/ns:LongitudeDegrees', namespaces) is not None else None

    # Append each trackpoint's data to the list
    trackpoints_data.append(trackpoint_info)

# Convert the list of trackpoint data to JSON format
json_data = json.dumps(trackpoints_data, indent=4)

In [5]:
# Save the JSON data to a file
with open('output_data.json', 'w') as json_file:
    json_file.write(json_data)

In [6]:
data = pd.read_json('output_data.json')

In [7]:
data

                                  time  heart_rate   latitude  longitude
0     2024-03-06T22:31:44.882600+00:00         102        NaN        NaN
1     2024-03-06T22:31:45.072700+00:00         104        NaN        NaN
2     2024-03-06T22:31:46.506900+00:00         104        NaN        NaN
3     2024-03-06T22:31:47.072200+00:00         108        NaN        NaN
4     2024-03-06T22:31:48.072000+00:00         110        NaN        NaN
...                                ...         ...        ...        ...
2593  2024-03-06T23:15:23.123800+00:00         159  26.478050 -80.085781
2594  2024-03-06T23:15:24.105900+00:00         160  26.478021 -80.085788
2595  2024-03-06T23:15:25.095500+00:00         159  26.477993 -80.085797
2596  2024-03-06T23:15:26.134100+00:00         159  26.477965 -80.085803
2597  2024-03-06T23:15:27.105900+00:00         159        NaN        NaN

[2598 rows x 4 columns]